# Intellij
*.iml
.idea

# npm
node_modules

# build
dist
*.js.map

src/**/*.js
main.js
_types.js
settings.js
view.js
worker_helpers.js
constrants.js

# other
.DS_Store

yarn.lock
data.json
