/* no content */
.checklist-plugin-main {
  --checklist-checkboxSize: 18px;
  --checklist-checkboxCheckedSize: 10px;
  --checklist-checkboxBorder: 2px solid var(--text-muted);
  --checklist-checkboxFill: var(--text-muted);
  --checklist-listItemBorderRadius: 6px;
  --checklist-itemGap: 6px;
  --checklist-childrenIndent: 16px;
  --checklist-listItemBackground: var(--interactive-normal);
  --checklist-listItemBackground--hover: var(--interactive-hover);
  --checklist-listItemBoxShadow: none;
  --checklist-headerMargin: 0 0 6px;
  --checklist-headerGap: 4px;
  --checklist-headerFontSize: 16px;
  --checklist-headerFontWeight: 600;
  --checklist-iconSize: 20px;
  --checklist-iconFill: var(--text-normal);
  --checklist-iconFill--accent: #777;
  --checklist-textColor: var(--text-muted);
  --checklist-accentColor: var(--text-accent);
  --checklist-accentColor--active: var(--text-accent-hover);
  --checklist-pageMargin: 0 0 4px;
  --checklist-loaderSize: 16px;
  --checklist-loaderBorderColor: var(--text-muted) var(--text-muted)
    var(--text-normal);
  --checklist-buttonPadding: 0 5px;
  --checklist-buttonBoxShadow: none;
  --checklist-countPadding: 0 6px;
  --checklist-countBackground: var(--interactive-normal);
  --checklist-countFontSize: 13px;
  --checklist-togglePadding: 6px 6px 6px 10px;
  --checklist-contentPadding: 6px 10px 6px 0;
  --checklist-contentPadding--compact: 3px 6px 3px 0;
  --checklist-togglePadding--compact: 3px 5px 3px 8px;
  --checklist-countBorderRadius: 4px;
  --checklist-tagBaseColor: var(--text-faint);
  --checklist-tagSubColor: #bbb;
  --checklist-groupMargin: 8px;
  --checklist-contentFontSize: var(--editor-font-size);
  --checklist-searchBackground: var(--background-primary);
}

.checklist-plugin-main button {
  margin: initial;
}

.checklist-plugin-main p {
  margin: initial;
  word-break: break-word;
}
